<div>
  <div>
    <h3>About</h3>
    <p>
      <img src="/assets/img/avatar.jpg" width="80" alt="Photo of Matt Halliday">
      Matt Halliday is a Front End Developer at <a href="https://www.shopify.com">Shopify</a> in Waterloo, Ontario, Canada.
    </p>
  </div>

  <div>
    <h3>Social</h3>
    <ul>
      {% for link in site.data.social %}
        <li><a href="{{ link.url }}">{{ link.name }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div>
    <h3>Recommended</h3>
    <ul>
      {% for link in site.data.asides %}
        <li><a href="{{ link.url }}">{{ link.name }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div>
    <h3>Subscribe</h3>
    <ul>
      <li><a href="{{ "/feed.xml" | absolute_url }}">Articles RSS</a></li>
    </ul>
  </div>
</div>
