// Global
// -------------------------------------------------------------------------- //
img,
object {
	max-width: 100%;
}

a:visited {
	color: #222;
}

a:hover {
	text-decoration: underline;
}

body {
	font-size: 100%;
	font-family: $body;
}

.site-container {
	background-color: #fff;
}

.site-header {
	padding: 20px 16px 16px;
	background-color: #000;
}

.logo {
	margin: 0 auto;
	width: 161px;
	height: 34px;

	a {
		display: block;
		height: 34px;
		text-indent: -9999px;
		overflow: hidden;
		background: url(/assets/img/logo.png) no-repeat 0 0;
	}
}

.site-footer {
	padding: 12px 16px;
	text-align: center;
	background-color: $primary;
}

.powered-by {
	margin: 0;
	font-size: calc_em(11px);
	color: #2d0000;
	text-shadow: 0 1px 0 #b50000;

	a {
		text-decoration: none;
		color: #1c0000 !important;
	}
}


// Entries
// -------------------------------------------------------------------------- //
.main-content {
	padding: 26px 16px 0;
	background-color: #fff;
}

.entry-container {
	padding: 25px 0 20px;
	border-top: 1px solid #ddd;

	&:first-of-type {
		padding-top: 0;
		border: none;
	}
}

.entry-date {
	font-size: calc_em(12px);
	color: #bbb;
}

.entry-title {
	margin: 5px 0 10px;
	font: normal calc_em(22px) $heading;

	a {
		text-decoration: none;
		border: none;
		color: #222;

		&:hover,
		&:focus {
			text-decoration: none;
			border: none;
			color: $primary;
		}
	}
}

.entry-intro {
	margin-bottom: 25px;

	p {
		font-size: calc_em(14px);
		line-height: 1.5;
		color: #333;
	}

	a {
		text-decoration: none;
		border-bottom: 1px solid #ddd;
		color: $primary;

		&:hover,
		&:focus {
			text-decoration: none;
			border-bottom: 1px solid $primary;
		}
	}
}

.entry-content {
	h2 {
		margin: 10px 0 10px;
		font-size: calc_em(14px);
	}

	h3 {
		margin: 10px 0 4px;
		font-size: calc_em(12px);
	}

	p {
		margin-top: 0;
		font-size: calc_em(12px);
		line-height: 1.6;
		color: #6d6d6d;
	}

	ol {
		padding: 0 40px;
		list-style: decimal;
	}

	ul {
		padding: 0 40px;
		list-style: square;
	}

	li {
		margin-bottom: 8px;
		font-size: calc_em(12px);
		line-height: 1.5;
		color: #6d6d6d;
	}

	a {
		text-decoration: none;
		border-bottom: 1px solid #ddd;
		color: $primary;

		&:hover,
		&:focus {
			text-decoration: none;
			border-bottom: 1px solid $primary;
		}
	}

	iframe,
	video,
	embed,
	object {
		margin-bottom: 20px;
		max-width: 100%;
	}

	pre {
		padding: 6px 12px;
		text-align: left;
		font-size: calc_em(12px);
		line-height: 1.6;
		background-color: #f6f6f6;
		border: 1px solid #eaeaea;
		color: #333;
	}
}

.older-posts {
	margin: 0 0 40px;
	font-weight: bold;
	font-size: calc_em(14px);

	a {
		text-decoration: none;
		color: #222;
	}
}


// Sidebar
// -------------------------------------------------------------------------- //
.sidebar {
	padding: 30px 16px;
	background-color: #eee;
	color: #5d5d5d;
}

.sidebar-title {
	margin-top: 0;
	font-weight: bold;
	font-size: calc_em(12px);
	text-transform: uppercase;
	letter-spacing: 1px;
}

.sidebar-module {
	margin-bottom: 40px;

	p {
		margin: 2px 0 0;
		font-size: calc_em(12px);
		line-height: 1.5;
	}

	a {
		text-decoration: none;
		color: #222;
		@include transition(color, 0.3s);

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}

.bio img {
	float: left;
	margin-top: 4px;
	padding-right: 5.769230769231%;
}

.aside-collection {
	margin-top: 0;
	padding-left: 0;
	list-style: none;
}

.aside-item {
	margin-bottom: 4px;

	a {
		font-weight: bold;
		font-size: calc_em(12px);
		line-height: 1.2;
		color: #222;
		text-shadow: 0 1px 0 #fff;
	}

	.summary {
		display: block;
		margin-top: 4px;
		font-size: calc_em(12px);
		line-height: 1.5;
	}
}

.social-collection {
	float: left;
	margin: 5px 0 0;
	padding-left: 0;
	list-style: none;
}

.social-item {
	float: left;
	margin-right: 8px;
	background-image: url(/assets/img/sprite-social.png);
	background-repeat: no-repeat;

	&.twitter { background-position: 0 0; }
	&.github { background-position: -17px 0; }
	&.linkedin { background-position: -34px 0; }

	a {
		display: block;
		width: 17px;
		height: 16px;
		text-indent: -9999px;

		&:focus {
			outline: none;
		}
	}
}

.feed-collection {
	margin-top: 0;
	padding-left: 0;
	list-style: none;
}

.feed-item {
	margin-bottom: 8px;
	padding-left: 24px;
	background: url(/assets/img/icon-feed.png) no-repeat 0 2px;

	a {
		font-weight: bold;
		font-size: calc_em(12px);
		line-height: 1.2;
		color: #222;
		text-shadow: 0 1px 0 #fff;
	}
}

.subscribe {
	margin-bottom: 0;
}