// Font Stacks
// -------------------------------------------------------------------------- //
$heading: Georgia, Times, serif;
$body: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif;


// Color Scheme
// -------------------------------------------------------------------------- //
$primary: #a40000;


// Breakpoints
// -------------------------------------------------------------------------- //
$large: calc_em(960px);