body {
	background-color: $primary;
}

.site-container {
	position: relative;
	margin: 40px auto 60px;
	width: 85%;
	background-image: url(/assets/img/bg-faux-column.gif);
	background-repeat: repeat-y;
	background-position: 0 0;
	background-size: 100%;
	@include box_shadow(0, 1px, 6px, rgba(0,0,0,0.40));
}

.site-header {
	padding-right: calc_pc(40px);
	padding-left: calc_pc(40px);
}

.logo {
	margin: 0;
}

.main-content {
	float: left;
	padding: 26px calc_pc(40px) 0;
	width: calc_pc(620px);
}

.sidebar {
	float: right;
	padding: 30px calc_pc(20px);
	width: calc_pc(260px);

	&:hover a {
		text-decoration: none;
		color: $primary;
	}
}

.site-footer {
	position: absolute;
	top: 100%;
	right: 0;
	padding: 8px calc_em(20px) 0 0;
}