---
layout: default
---

<main id="content" class="main-content" role="main" tabindex="-1">
    <article class="entry-container" itemtype="http://schema.org/BlogPosting" itemscope>
        <time class="entry-date" datetime="{{ page.date | date: "%Y-%m-%d" }}" itemprop="datePublished">
            {{ page.date | date: "%A, %B %-d, %Y" }}
        </time>

        <h1 class="entry-title" itemprop="headline">{{ page.title }}</h1>

        <div class="entry-content" itemprop="articleBody">
            {{ content }}
        </div>
    </article><!-- /.entry-container -->
</main><!-- /.main-content -->
