// Global
// -------------------------------------------------------------------------- //
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 100%;
  font-family: $body;
  background-color: $primary;
}

img,
object {
  max-width: 100%;
}

a:hover {
  text-decoration: underline;
}
