.sidebar {
  padding: 30px 16px;
  background-color: #eee;
  color: #5d5d5d;

  @include breakpoint(large) {
    float: right;
    padding: 40px;
    width: calc-pc(300px);
  }
}

.sidebar-title {
  margin-top: 0;
  font-weight: bold;
  font-size: calc-em(12px);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sidebar-module {
  @include clearfix;
  margin-bottom: 40px;

  p {
    margin: 2px 0 0;
    font-size: calc-em(12px);
    line-height: 1.5;
  }

  a {
    text-decoration: none;
    color: #222;
    transition: color 0.2s ease-in-out;

    &:hover,
    &:focus {
      text-decoration: underline;
      color: $primary;
    }
  }
}

.bio img {
  float: left;
  margin-top: 4px;
  padding-right: calc-pc(14px, 260px);
}

.link-collection {
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

.link-collection__item {
  margin-bottom: 4px;

  a {
    font-weight: bold;
    font-size: calc-em(12px);
    line-height: 1.2;
    color: #222;
  }

  .summary {
    display: block;
    margin-top: 4px;
    font-size: calc-em(12px);
    line-height: 1.5;
  }
}
