.site-container {
  @include clearfix;
  background-color: #fff;

  @include breakpoint(large) {
    position: relative; // Contains absolute positioned elements
    margin: 40px auto 60px;
    width: 85%;
    box-shadow: 0 1px 6px rgba(0,0,0,0.40);

    &:before {
      position: absolute;
      z-index: 1; // Must be set lower than .sidebar
      top: 0;
      right: 0;
      bottom: 0;
      width: calc-pc(300px);
      background-color: #eee;
      content: '';
    }
  }
}

.site-header {
  position: relative;
  z-index: 10; // Must be set higher than .sidebar
  padding: 20px 16px 16px;
  background-color: #000;

  @include breakpoint(large) {
    padding-right: calc-pc(40px);
    padding-left: calc-pc(40px);
  }
}

.skipper {
  &:active,
  &:focus {
    float: right;
    display: inline-block;
    margin-top: 2px;
    padding: 6px 12px;
    font-size: 14px;
    text-decoration: none;
    background-color: #fff;
    color: #000;
  }
}

.logo {
  margin: 0 auto;
  width: 161px;
  height: 34px;

  @include breakpoint(large) {
    margin: 0;
  }

  a {
    display: block;
    height: 34px;
    text-indent: -9999px;
    overflow: hidden;
    background: url(/assets/img/sprite.png) no-repeat 0 -16px;
  }
}

.main-content {
  padding: 26px 16px 0;
  background-color: #fff;

  @include breakpoint(large) {
    float: left;
    padding: 26px calc-pc(40px) 0;
    width: calc-pc(620px);
  }
}

.site-footer {
  padding: 12px 16px;
  text-align: center;
  background-color: $primary;

  @include breakpoint(large) {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 8px calc-em(20px) 0 0;
  }
}

.powered-by {
  margin: 0;
  font-size: calc-em(11px);
  color: #2d0000;
  text-shadow: 0 1px 0 #b50000;

  a {
    text-decoration: none;
    color: #1c0000 !important;
  }
}
